<div class=" p-8 flex mx-auto w-2/3 items-center justify-center">
    <div class="bg-green-300 w-1/2 h-1/2 text-center m-4 p-8 rounded-md">
        <h3 class="text-3xl mb-4">Total Customers</h3>
        <span class="text-green-900 font-bold text-5xl">{{customers?.length}}</span>
    </div>
    <div class="bg-slate-500 w-1/2 h-1/2 text-center m-4 p-8 rounded-md">
        <h3 class="text-3xl mb-4">Total Balance</h3>
        <span class="text-slate-900 font-bold text-5xl">{{total}}$</span>
    </div>
</div>