<div class="flex flex-col justify-center items-center gap-6 m-6">
    <input (input)="onQuery($event)" class="border rounded-md shadow w-1/2 p-2" placeholder="Search">
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 min-w-fit items-center justify-center gap-4">
        <app-customer-card *ngFor="let customer of customers; let index = index;" [customer]="customer" (delete)="delete($event)" (changeValue)="changeValue($event)" [isDeleting]="getIsDeleting(customer)">
        </app-customer-card>
    </div>
</div>